@{
    ViewBag.Title = "About";
    ViewBag.Desc = "WHY WE STARTED OPEN COURSEWARE";
    ViewBag.Img = "HomeAbout";
}
<section class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h2>We help the students and the Instructors</h2>
                <p class="lead">Putting all the relevent data at the same place, makes it easier for both student and teacher to take advantage of the material. </p>
            </div>
        </div>
        <!-- <div class="row align-items-center">

          <div class="col-md-5">
            <h2 class="mb-4">First, We Love To Teach</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reprehenderit laboriosam, eius ipsa consequuntur eos. Nulla dolorem repudiandae mollitia distinctio eos pariatur dolores, voluptate impedit. Eaque quos, sapiente ipsum possimus.</p>
            <p>Odio ducimus id vero tempora eaque rem voluptatibus tempore sequi ea quod, odit commodi voluptas! Nesciunt dolorum ea repudiandae. Officia eos impedit sapiente tempore, a dolore minus eaque culpa facere.</p>
            <p>Qui dolore quaerat expedita fugiat aperiam consequatur pariatur quod perspiciatis alias magni, recusandae esse dolorem beatae commodi quo labore earum harum odio voluptatibus non, error perferendis at delectus. Ab, amet.</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 overflow">
            <img src="/images/img_2.jpg" alt="" class="img-fluid">
          </div>
        </div> -->
        <div class="row mb-5 align-items-center">

            <div class="col-md-6 overflow order-1">
                <img src="/images/img_1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 order-2"></div>
            <div class="col-md-5 order-3">
                <h2 class="mb-4">We Love To Teach</h2>

            </div>
        </div>
        <div class="row align-items-center">

            <div class="col-md-6 overflow order-3">
                <img src="/images/img_2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 order-2"></div>
            <div class="col-md-5 order-1">
                <h2 class="mb-4">We Are Passionate about giving students the best shot at success.</h2>

            </div>
        </div>
    </div>
</section>
<!-- END section -->
