@{
    ViewBag.Title = "Home";
    ViewBag.Desc = "EVERYTHING MADE ACCESIBLE.";
    ViewBag.Img = "HomeIndex";
}

<audio autoplay>
    <source src="/Materials/SSLEC.mp3">
</audio>


<section class="school-features d-flex" style="background-image: url(images/big_image_3.jpg);">
    <div class="inner">
        <div class="media d-block feature">
            <div class="icon"><img <img src="images/internet.png"></div><br>
            <div class="media-body">
                <h3 class="mt-0">Online material from experts</h3>
                <p>All assignments, readings and other related stuff is available</p>
            </div>
        </div>
        <div class="media d-block feature">
            <div class="icon"><img <img src="images/classroom.png"></div><br>
            <div class="media-body">
                <h3 class="mt-0">Various instructor</h3>
                <p>Same course, different instructors.</p>
            </div>
        </div>
        <div class="media d-block feature">
            <div class="icon"><img <img src="images/thinking.png"></div><br>
            <div class="media-body">
                <h3 class="mt-0">Creative learning</h3>
                <p>Learn from the best.</p>
            </div>
        </div>

        <div class="media d-block feature">
            <div class="icon"><img <img src="images/check.png"></div><br>
            <div class="media-body">
                <h3 class="mt-0">Best verified material</h3>
                <p>Verified courses from official and reliable instructors and department.  </p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
<!-- END section -->
<!-- END section -->



<section class="overflow">
    <div class="container">
        <div class="row justify-content-center align-items-center">


            <div class="col-lg-7 order-lg-3 order-1 mb-lg-0 mb-5">
                <img src="images/9.jpg" alt="Image placeholder" class="img-md-fluid">
            </div>
            <div class="col-lg-1 order-lg-2"></div>
            <div class="col-lg-4 order-lg-1 order-2 mb-lg-0 mb-5">
                <blockquote class="testimonial">
                    &ldquo; Eduction is what survives when what has been learned has been forgotten. &rdquo;
                </blockquote>
                <p>&mdash; BF Skinner</p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->