@{
    /**/

    ViewBag.Title = "Confirm Email";
    ViewBag.Desc = "Confirm Email";
    ViewBag.SubDesc = "Thank you for confirming your email.Please " + Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new
    {id = "loginLink"});
    ViewBag.Img = "Extra";
}
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
