@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.Desc = "Forgot your password Confirmation";
    ViewBag.Img = "Extra";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
